.axtronic-site-features{
    i{
        font-size: 48px;
        fill: var( --primary );
        color: var( --primary );
        border-color: var( --primary );
    }
    h4{
        font-size: 16px;
        font-weight: 700;
        line-height: 1.5em;
        margin-bottom: 5px;
        color: var( --accent );
    }
    p{
        color: var( --text );
        font-size: 14px;
        font-weight: 400;
        line-height: 1.5em;
    }
}
.heading-title{
    font-weight: 600;
    font-size: 28px;
    line-height: 1.5em;;
    color: var(--accent);
}
.axtronic-category{
    .swiper-slider-icon{
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        z-index: 1;
        .swiper-slide{
            background: #f0f0f0;
            padding: 30px 10px 20px;
            border-radius: 12px;
            display: flex;
            align-items: center;
            flex-direction: column;
            &:hover{
                background-color: var(--primary);
                .item-icons a, h3.item-title a{
                    color: #ffffff;
                }
            }
            .item-icons{
                font-size: 46px;
                fill: var( --accent );
                color: var( --accent );
                border-color: var( --accent );
                a{
                    color: var(--accent);
                }
            }
            h3.item-title{
                font-size: 16px;
                font-weight: 400;
                line-height: 1.5em;
                a{
                    color: var(--text);
                }
            }
        }
        .swiper-button-prev,.swiper-button-next{
            width: 33px;
            height: 33px;
            font-size: 16px;
            background-color: #f0f0f0;
            top: -25px;
            left: auto;
            right: 5px;
            color: var(--accent);
            border-radius: 50%;
            font-weight: bold;
            &:after{
                font-size: 14px;
            }
            &:hover{
                background-color: var(--primary);
                color: #ffffff;
            }
        }
        .swiper-button-prev{
            right: 50px;
        }
    }
}
