.footer {
	background-color: #031424;
	.axtronic-footer {
	    transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
    	padding: 80px 0 60px;
    	.address {
            img{
                width: 220px;
                margin-bottom: 40px;
            }
            .content{
                h3{
                    margin-bottom: 10px;
                    font-size: 28px;
                    font-weight: 600;
                    line-height: 1.5em;
                    color: #DD2955;
                }
            }
			p {
			    color: #94989e;
				font-size: 14px;
				font-weight: 400;
				line-height: 1.5em;
                margin-bottom: 40px;
			}
			.socials-list {
				a {
                    color: #ffffff;
                    font-size: 20px;
					margin-right: 10px;
                    &:hover{
                        color: var(--primary);
                    }
				}
			}
    	}
    	.widget-footer {
    		h5 {
			    color: #fff;
			    font-size: 16px;
			    font-weight: 600;
			    line-height: 1.5em;
			    margin-bottom: 20px;
    		}
    		ul {
    			list-style: none;
    			margin-left: 0;
    			li {
    				a {
					    font-size: 14px;
					    font-weight: 400;
					    line-height: 1.5em;
    				}
    				a:hover {
    					color: var(--primary)!important;
    				}
    			}
    		}
    	}
    	.axtronic-form-newsletter {
    		h3 {
			    color: #fff;
			    font-size: 16px;
			    font-weight: 600;
			    line-height: 1.5em;
			    margin-bottom: 10px;
    		}
    		p {
			    color: #94989e;
			    font-size: 24px;
			    font-weight: 500;
			    line-height: 1.5em;
			    margin-bottom: 20px;
    		}
    		.form-newsletter {
    			position: relative;
    			form {
    				.input-group {
    					input {
    						border-radius: 30px;
    						font-size: 15px;
						    padding: 12px 1em;
						    background-color: #ffffff;
						    color: #6A7285;
						    border-width: 1px;
						    border-style: solid;
						    border-color: #e2e5eb;
						    -webkit-appearance: none;
						    box-sizing: border-box;
						    font-weight: 400;
						    outline: 0;
						    transition: all ease-in-out .3s;
						    line-height: 24px;
    					}
    					button.btn {
                            line-height: 1;
    						position: absolute;
							top: 5px;
							right: 6px;
							padding: 0 12px;
							color: #fff;
							cursor: pointer;
							height: calc(100% - 10px);
						    margin-left: 8px;
                            border-radius: 50% !important;
							background: linear-gradient(225deg,var(--primary) 0%,var(--primary_hover) 100%);
                            &:hover {
                                background: linear-gradient(225deg,var(--primary_hover) 0%,var(--primary) 100%);
                            }
    					}
    				}
    			}
    		}
    	}
	}
	.copy-right {
		text-align: center;
	    border-style: solid;
	    border-width: 1px 0 0;
	    border-color: #31353d;
	    transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
	    padding: 20px 0;
	    font-size: 14px;
	    font-weight: 500;
	    line-height: 1.5em;
	    color: #fff;
	}
}
