
//Axtronic News

.swiper-slider-news{
    margin-bottom: 30px;
    padding-bottom: 30px;
    .swiper-pagination-bullet{
        width: 10px;
        height: 10px;
        border: 0;
        background: var(--accent);
        border-radius: 50%;
        cursor: pointer;
        &.swiper-pagination-bullet-active{
            background: var(--primary);
        }
    }
}
.axtronic-post{
    &:hover{
        .post-thumbnail img{
            transform: scale(1.15);
        }
    }
    .post-thumbnail{
        position: relative;
        border-radius: 16px;
        overflow: hidden;
        margin-bottom: calc(var(--grid-gutter)/2);
        .posted-on-square{
            width: 50px;
            height: 50px;
            position: absolute;
            top: 20px;
            left: 20px;
            z-index: 10;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            border-radius: 5px;
            font-weight: 500;
            text-align: center;
            font-size: 12px;
            line-height: 14px;
            color: #fff;
            background: linear-gradient(225deg,var(--primary) 0%,var(--primary_hover) 100%);
            text-transform: uppercase;
            b{
                font-size: 20px;
                font-weight: 500;
                color: #fff;
                display: block;
                line-height: 1;
            }
        }

        img{
            transition: transform 1s cubic-bezier(.19,1,.22,1);
        }
    }
    .entry-content{
        .entry-meta{
            display: flex;
            justify-content: start;
            align-items: center;
            font-weight: 400;
            font-size: 14px;
            margin-bottom: 10px;
            color: var(--text);
            .post-author{
                &:after{
                    content: "\7c";
                    padding: 0 10px;
                }
            }
            .posted-on{
                &:before{
                    content: "\7c";
                    padding: 0 10px;
                }
            }
            .meta-categories, .posted-on, .meta-comment{
                a{
                    color: var(--text);
                    &:hover{
                        color: var(--primary);
                        text-decoration: underline;
                    }
                }
            }
        }
        .post-header{
            border-bottom: 1px solid var(--border);
            padding-bottom: 10px;
            margin-bottom: 30px;
            color: var(--text);
        }
        .post-title{
            font-size: 36px;
            line-height: 1.13;
            margin-top: 15px;
            margin-bottom: 12px;
        }
        h2.entry-title{
            font-size: 18px;
            line-height: 24px;
            width: 100%;
            font-weight: 600;
            margin-bottom: 0;
            a{
                color: var(--accent);;
            }
        }
        p{
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2; /* number of lines to show */
            line-clamp: 2;
            -webkit-box-orient: vertical;
        }
    }

    .more-link{
        background: linear-gradient(225deg, var(--primary) 0%, var(--primary_hover) 100%);
        border-radius: 8px;
        font-size: 16px;
        font-weight: 600;
        text-transform: capitalize;
        line-height: 24px;
        color: #fff;
        padding: 12px 30px;
    }

    &.post{
        margin: 0 0 40px;
        padding-bottom: 40px;
        border-bottom: 1px solid var(--border);
        h2.entry-title{
            margin-bottom: var(--grid-gutter);
            font-size: 26px;
        }
        a.button{
            padding: 8px 16px;
        }
    }
}
.widget{
    padding: var(--grid-gutter);
    border: 1px solid var(--border);
    border-bottom: 0;
    box-sizing: border-box;
    background: var(--background2);
    &:first-child{
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
    &:last-child{
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }
    .widget_title{
        font-size: 15px;
        line-height: 24px;
        color: var(--accent);
        margin-bottom: var(--grid-gutter);
        text-transform: uppercase;
        font-weight: 600;
    }
}
.widget-categories{
    ul{
        margin-left: 0;
        li{
            list-style: none;
            margin-bottom: 15px;
            line-height: 1.618em;
            display: block;
            a{
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                color: var(--text);
                &:hover{
                    color: var(--primary);
                    .cat-count{
                        background: var(--primary);
                        color: #ffffff;
                    }
                }
                .cat-count{
                    background: #fff;
                    display: inline-block;
                    color: var(--text);
                    border-radius: 16px;
                    min-width: 26px;
                    font-size: 11px;
                    line-height: 24px;
                    text-align: center;
                    padding: 1px 0;
                }
            }
        }
    }
}
.widget-search{
    .axtronic-form-widget-search{
        position: relative;
        button{
            background: transparent;
            color: var(--accent);
            border: none;
            font-size: 15px;
            height: 100%;
            position: absolute;
            right: 0;
            top: 0;
            transition: all .3s ease-out;
            padding: 12.5px;
            &:hover{
                color: var(--primary);
            }
        }
    }
}
.widget-recent-post{
    .post-content{
        display: flex;
        align-items: stretch;
        flex-direction: row;
        border-bottom-color: var(--border);
        margin-bottom: 15px;
        .post-thumb{
            flex: 0 0 auto;
            overflow: hidden;
            img{
                margin-right: 1em;
                width: 80px;
                height: 80px;
                object-fit: cover;
                border-radius: 8px;
            }
        }
        .recent-posts-info{
            flex: 1 1 auto;
            display: flex;
            flex-direction: column;
            font-size: 14px;
            line-height: 20px;
            .post-title{
                display: block;
                color: var(--accent);
                margin-bottom: 0.5em;
                font-weight: 600;
                font-size: 14px;
            }
            .post-date{
                color: var(--light);
                font-size: 13px;
            }

        }
    }
}

.widget-tags{
    a{
        font-size: 13px!important;
        padding: 0 15px;
        background-color: #fff;
        line-height: 30px;
        display: inline-block;
        margin: 3px 3px 3px 0;
        color: var(--text);
        border-radius: 5px;
        &:hover{
            color: #fff;
            background: linear-gradient(225deg,var(--primary) 0%,var(--primary_hover) 100%);
        }
    }
}

.axtronic-post-detail{
    .axtronic-post_footer{

        .axtronic-post_tags{
            margin-top: 20px;
            font-size: 15px;
            i{
                margin-right: 10px;
                color: var(--primary);
                font-size: 24px;
                line-height: 1;
            }
            a.tag{
                display: inline-block;
                font-size: 14px;
                font-weight: 400;
                line-height: 30px;
                color: var(--text);
                margin: 3px 3px 3px 0;
                border-radius: 8px;
                position: relative;
                background: var(--background2);
                padding: 0 15px;
                &:hover{
                    color: #fff;
                    background: linear-gradient(225deg,var(--primary) 0%,var(--primary_hover) 100%);
                }
            }
        }
    }
    .meta-categories{
        a{
            color: #fff;
            display: inline-block;
            background: var(--secondary);
            border-radius: 8px;
            padding: 4px 10px;
            margin-right: 5px;
            margin-bottom: 5px;
            font-size: 12px;
            &:hover{
                background: var(--secondary_hover);
                color: #fff;
                text-decoration: none;
            }
        }
    }
}
.comments-area{
    position: relative;
    padding-top: 50px;
    .comment-list-wrap{
        margin-bottom: 2.2906835em;
    }
    .title-comment{
        font-size: 24px;
        color: var(--accent);
        margin-bottom: 40px;
        padding-bottom: 20px;
        border-bottom: 1px solid var(--border);
    }
    .comment-list{
        position: relative;
        list-style: none;
        margin: 0;
        .comment-body{
            min-height: 100px;
            margin-bottom: 40px;
            padding-bottom: 35px;
            border-bottom: 1px solid;
            border-color: var(--border);
            padding-left: 75px;
        }
        .reply{
            margin-top: 5px;
            text-transform: uppercase;
            a{
                color: var(--accent);
                display: inline-block;
                margin-right: 1em;
                font-weight: 400;
                font-size: 14px;
                text-transform: none;
                &:before{
                    @include themecustom-icon;
                    content: themecustom-char(reply);
                    margin-right: 5px;
                    line-height: inherit;
                    vertical-align: top;
                }
                &:last-child{
                    margin-right: 0;
                }
            }
        }
        .comment-meta{
            position: relative;
            margin-bottom: 5px;
            cite{
                font-size: 16px;
                color: var(--accent);
                font-style: normal;
                font-weight: 600;
            }
            .comment-author{
                display: inline-block;
                margin-right: 12px;
                .avatar{
                    position: absolute;
                    left: -75px;
                    top: 0;
                    width: 60px;
                    height: auto;
                    border-radius: 50%;
                    margin-bottom: 10px;
                    box-shadow: 0 0.2rem 1.9rem 0 var(--background2);
                    border: 2px solid var(--background);
                }
            }
            a.comment-date{
                color: var(--light);
                text-transform: none;
                letter-spacing: 0;
                font-size: 14px;
            }
        }
        .children{
            list-style: none;
        }
    }
    label{
        font-size: 14px;
        font-weight: 600;
        color: var(--accent);
        margin-bottom: 2px;
        line-height: 2;

    }
    .comment-form-cookies-consent{
        label{
            font-weight: 400;
        }
    }
}
.required{
    color: #e2401c;
}
nav.navigation{
    clear: both;
    border-top: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
    margin: 40px 0;
    &:before, &:after{
        content: "";
        display: table;
    }
    .nav-next, .nav-previous{
        padding: var(--grid-gutter) 0;
        a{
            display: flex;
            align-items: center;
            color: var(--accent);
        }
    }
    .has-image{
        display: flex;
        img{
            width: 80px;
            height: 80px;
            border-radius: 8px;
            object-fit: cover;
            margin-right: 20px;
        }
        .inner-action{
            display: flex;
            flex-direction: column;
            justify-content: center;
            .reader-text{
                display: block;
                color: var(--light);
                margin-bottom: 5px;
                position: relative;
                font-size: 10px;
                font-weight: 700;
                text-transform: uppercase;
                i{
                    display: inline-block;
                    line-height: inherit;
                    margin-right: 10px;
                }
            }
            .title{
                font-size: 16px;
                font-weight: 600;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
                line-height: 1.375;
                &:hover{
                    color: var(--primary);
                }
            }
        }
    }
    .nav-links{
        display: flex;
    }
    .nav-previous{
        width: 50%;
        padding-right: 20px;
        border: none;
        border-right: 1px solid var(--border);
        a{
            justify-content: flex-start;
        }
        & + .nav-next{
            border: none;
        }
    }
    .nav-next{
        text-align: right;
        width: 50%;
        padding-left: 20px;
        border-left: 1px solid var(--border);
        a{
            justify-content: end;
        }
        img{
            margin-left: 20px;
        }
    }
}
