.axtronic-promotions{
    .promotions-item{
        border-radius: 8px;
        position: relative;
        overflow: hidden;
        margin-bottom: var(--bs-gutter-x);
        &:hover{
            .item-bg{
                -ms-transform: scale(1.2);
                -o-transform: scale(1.2);
                -moz-transform: scale(1.2);
                -webkit-transform: scale(1.2);
                transform: scale(1.2);
            }
        }
        .item-bg{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            transition: transform calc(700ms * 1.5) cubic-bezier(.19,1,.22,1);
            -webkit-background-size: cover;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            z-index: 1;
            transition-duration: 300ms;
        }
        .item-content{
            min-height: 334px;
            padding: 25px;
            position: relative;
            z-index: 1;
            color: #ffffff;
            .sub-title{
                padding: 4px 8px;
                background-color: #ffffff33;
                border-radius: 100px 100px 100px 100px;
                font-size: 12px;
                font-weight: 500;
                line-height: 1.25em;
                color: #fff;
            }
            h3{
                font-size: 22px;
                font-weight: 700;
                line-height: 1.5em;
                color: #fff;
            }
            p{
                color: #FFFFFF;
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                span{
                    font-weight: bold;
                    font-size: 10px;
                    text-transform: uppercase;
                    opacity: 1;
                    color: #94989E;
                }
            }
            a.item-button{
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                color: #ffffff;
                text-decoration-line: underline;
                &:hover{
                    color: var( --primary );
                }
            }
        }
    }
}


//Axtronic Banner

.axtronic-banner{
    margin-bottom: 30px;
    .banner-wrap{
        background-color: transparent;
        background-image: linear-gradient(100deg,var( --primary ) 50%,var( --primary_hover ) 100%);
        transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
        padding: 30px 60px;
        border-radius: 12px;
        .item-content{
            padding: 24px;
            position: relative;
            z-index: 1;
            color: #ffffff;
            .sub-title{
                font-size: 13px;
                font-weight: 700;
                text-transform: uppercase;
                line-height: 1.5em;
                span{
                    padding: 4px 8px;
                    background-color: #ffffff33;
                    border-radius: 100px 100px 100px 100px;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 1.5em;
                    margin-right: 10px;
                }
            }
            h2{
                color: #fff;
                font-size: 60px;
                font-weight: 700;
                line-height: 53px;
                margin: 15px 0;
            }
            h3{
                margin: 15px 0;
                color: #fff;
                font-size: 40px;
                font-weight: 600;
                line-height: 1;
            }
            p{
                color: #FFFFFF;
                font-size: 16px;
                line-height: 24px;
            }
            .price{
                color: #ffd771;
                font-size: 40px;
                font-weight: 600;
                display: flex;
                align-items: center;
                span{
                    font-size: 19px;
                    font-weight: 300;
                    text-decoration: line-through;
                    line-height: 1.5em;
                    color: #ffffff;
                    margin-left: 15px;
                }
            }
            a.item-button{
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                fill: var( --accent );
                color: var( --accent );
                background: var( --background );
                text-transform: capitalize;
                border-radius: 8px 8px 8px 8px;
                padding: 12px 30px;
                text-decoration: none;
            &:hover{
                color: #fff;
                background: var( --accent );
                }
            }
        }
    }
}


//Axtronic Testimonial

.axtronic-testimonial{
    transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
    margin-top: 0;
    margin-bottom: 70px;
    padding: 60px 0;
    background-color: #f0f0f0;
    .swiper-slider-testimonial{
        padding-bottom: 40px;
        margin-top: 40px;
        .inner{
            margin-left: auto;
            margin-right: auto;
            padding: 0 30px 30px;
            margin-top: 35px;
            border-radius: 12px;
            background: #fff;
            border: 1px solid var(--border);
            display: flex;
            flex-wrap: wrap;
        }
        .testimonial-image{
            margin-bottom: 20px;
            margin-top: -35px;
            order: 0;
            width: 100%;
            img{
                width: 90px;
                height: 90px;
                border: 3px solid var(--primary);
                border-radius: 100%;
            }
        }
        p{
            color: var(--text);
            width: 100%;
            justify-content: center;
            font-size: 14px;
            margin-bottom: 0;
        }
        .caption{
            width: 100%;
            margin-bottom: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .details{
                h2.name{
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 26px;
                    color: var(--accent);
                    margin-bottom: 0;
                }
                h3.job{
                    color: var(--light);
                    font-size: 14px;
                    margin-bottom: 0;
                }
            }
            .stars{
                color: #ffb627;
                font-size: 18px;
            }
        }
    }

    .swiper-pagination {
        position: absolute;
        text-align: center;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        z-index: 10;
        bottom: 0;
        &.swiper-pagination-hidden {
            opacity: 0;
        }
    }

    .swiper-pagination-bullet {
        width: 30px;
        height: 20px;
        border-radius: 0;
        background-color: transparent;
        border-bottom: 2px solid var(--accent);
        position: relative;
        margin: 0 6px;
    }
    .swiper-pagination-bullet-active{
        border-bottom: 5px solid var(--primary);
        background-color: transparent;
    }
    .swiper-pagination-fraction {
        color: #000;
    }

    button.swiper-pagination-bullet {
        border: none;
        margin: 0;
        padding: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
    }
}

.swiper-container{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 1;
}



//Axtronic Brands

.axtronic-brands{
    background-color: var( --background2 );
    transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
    padding: 30px 0;
    .swiper-slide{
        text-align: center;
        .item-brand{
            text-align: center;
        }
        img{
            -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
            filter: grayscale(100%);
            margin: 0 auto;
        }
        &:hover{
            img{
                -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
                filter: grayscale(0%);
            }
        }
    }
}
